@import url(./topBar.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./brandBar.css);
@import url(./product.css);
@import url(./brouser.css);
@import url(./adicional.css);
@import url(./modal.css);

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.hero {
	background-image: url(/src/assets/banner/banner.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}