
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
}

.hero{
  background-image: url(/src/assets/banner/banner.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}


.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  color: #000;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: justify;
  width: 600px;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.3s;
}

.btn:hover {
  background: #222;
}

.stats {
  display: flex;
  gap: 40px;
}

.stats div {
  display: flex;
  flex-direction: column;
}

.stats strong {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.stats span {
  font-size: 12px;
  color: #777;
}

/* IMAGEM */
.hero-image img {
  height: 20em;
  width: 100%;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .stats {
    justify-content: center;
  }

  .hero-image {
    margin-top: 40px;
  }
}