

.new-arrivals {
  max-width: 1650px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;

}

.section-title {
  font-size: 3rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.product-card {
  text-align: left;
}

/* Moldura azul no item selecionado conforme a imagem */
/*
.product-card.highlighted .image-container {
  border: 2px solid #008DFF;
}
*/
.image-container {
  background-color: #F0EEED;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
  aspect-ratio: 1/1.1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 80%;
  height: auto;
}

.product-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.rating {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.rating span {
  color: #666;
  margin-left: 5px;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 1.1rem;
  margin-left: 10px;
}

.discount {
  background-color: #FFEBEB;
  color: #FF3333;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.view-all-container {
  margin-top: 50px;
}

.view-all-btn {
  background: none;
  border: 1px solid #E0E0E0;
  padding: 15px 60px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.view-all-btn:hover {
  background-color: #f5f5f5;
}