.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* espaço entre texto e X */
  padding: 8px 16px;
  background-color: black;
}
.top-bar span{
  font-weight: 100;
  color: rgba(255, 255, 255, 0.795);
}

.top-bar-link{
  color: white;
}
.close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  
}


.message {
  margin: 0 auto;
  /* centraliza o texto */
}



